# Root .editorconfig file
root = true

# Global settings
[*.cs]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
dotnet_style_qualification_for_event = false
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_method = false
dotnet_style_qualification_for_property = false
dotnet_style_explicit_tuple_names = true
dotnet_style_null_propagation = true

# C# specific settings
[*.cs]
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_new_line_before_open_brace = all
csharp_prefer_braces = true
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_after_cast = true
csharp_style_expression_bodied_methods = true
csharp_style_expression_bodied_operators = true
csharp_style_inlined_variable_declaration = true
csharp_style_pattern_matching_over_is_with_cast_check = true
csharp_style_throw_expression = true
csharp_style_var_for_built_in_types = false
csharp_style_var_elsewhere = false
csharp_style_var_when_type_is_apparent = true
file_header_template = none

# Limitar o comprimento máximo da linha a 80 caracteres
[*.cs]
max_line_length = 80
